.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-container {
  margin: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.k-scheduler-cell.k-resource-cell {
  color: red;
}
.k-scheduler-row .k-slot-cell {
  border-right: none;
}

.k-scheduler-row .k-slot-cell:nth-child(2n) {
  border-right: 1px solid #ccc;
  /* background-color: green; */
}

.k-event.normal-item {
  color: black;
  background-color: transparent;
  height: 50px !important;
  border: green solid !important;
}

.k-event.leave-item {
  color: black;
  background-color: whitesmoke;
  height: 50px !important;
  border: none;
}

.k-event.leave-item .k-event-template {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}

.service-group {
  /* height: 100px; */
  margin-top: 20px;
  padding: 20px;
  border: 1px solid;
}

.service-group-text {
  display: inline-block;
  height: 50px;
  font-size: 24px;
}

.service-group-button {
  display: inline-block;
  float: right;
}

.service-row {
  border: 1px #caca2c solid;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  width: 100%;
}

.service-item {
  margin-left: 100px;

  display: inline-block;
}
